<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	 http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<display-name>PlotterWebInterface</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>secure</servlet-name>
		<servlet-class>plotter.servlet.Process</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>secure/bill</servlet-name>
		<servlet-class>plotter.servlet.Bill</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>secure/preview</servlet-name>
		<servlet-class>plotter.servlet.Preview</servlet-class>
	</servlet>

	<!-- Other stuff -->

	<listener>
		<listener-class>org.jasig.cas.client.session.SingleSignOutHttpSessionListener</listener-class>
	</listener>

	<servlet-mapping>
		<servlet-name>secure</servlet-name>
		<url-pattern>/secure/</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>secure/preview</servlet-name>
		<url-pattern>/secure/preview/</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>secure/bill</servlet-name>
		<url-pattern>/secure/bill/</url-pattern>
	</servlet-mapping>

	<!-- Direct Web Remoting servlet -->
	<servlet>
		<servlet-name>dwr-invoker</servlet-name>
		<servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>activeReverseAjaxEnabled</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- Map DWR access to the DWR servlet -->
	<servlet-mapping>
		<servlet-name>dwr-invoker</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>

	<!-- FileUpload temporary file cleaner -->
	<listener>
		<listener-class>org.apache.commons.fileupload.servlet.FileCleanerCleanup</listener-class>
	</listener>

	<!-- Configuration initializer -->
	<listener>
		<listener-class>plotter.servlet.InitializeContext</listener-class>
	</listener>
</web-app>